{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/login') }}
{% endblock %}

{% block body %}
    <div class="form-login">
        <img src="{{ asset('build/images/logo.png') }}" class="img-responsive img-center" alt="Logo">

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <input type="text" id="inputUsernameEmail" name="_username" class="form-control" placeholder="Email atau username" required autofocus>
            </div>

            <div class="form-group">
                <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
            </div>

            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="row mb-2">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="inputRememberMe" name="_remember_me" class="custom-control-input" checked />
                        <label for="inputRememberMe" class="custom-control-label">Ingat saya</label>
                    </div>
                </div>

                <div class="col text-right">
                    <a href="#">Lupa password?</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Masuk</button>
        </form>

        <div class="separator"><span>Atau</span></div>

        <div class="row mb-4">
            <div class="col">
                <a href="{{ path('connect_google') }}" class="btn btn-secondary btn-block">
                    <i class="fab fa-google"></i> Masuk dengan Google
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                Belum punya akun? <br>
                <a href="#">Daftar sekarang</a>
            </div>

            <div class="col text-right">
                User belum aktif? <br>
                <a href="#">Kirim ulang email aktivasi</a>
            </div>
        </div>
    </div>
{% endblock %}
