{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/resend_user_confirmation_token') }}
{% endblock %}

{% block body %}
    <div class="form-reset-password">
        <img src="{{ asset('build/images/logo.png') }}" class="img-responsive img-center mb-4" alt="Logo">

        <div class="card">
            <div class="card-body">
                {% for type, messages in app.flashes %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                <p>Masukkan username atau email untuk menemukan akun Anda.</p>

                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form.identitas) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Cari</button>
                    <a href="{{ path('security_login') }}" class="btn btn-secondary">&laquo; Kembali ke halaman login</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
