{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/reset_password') }}
{% endblock %}

{% block body %}
    <div class="form-reset-password">
        <img src="{{ asset('build/images/logo.png') }}" class="img-responsive img-center mb-4" alt="Logo">

        <div class="card">
            <div class="card-body">
                <p>Kami telah mengirim email ke <strong>{{ email }}</strong>. Klik tautan di dalam email untuk mengatur ulang kata sandi Anda.</p>

                <p>Jika Anda tidak melihat email tersebut, periksa di tempat lain, misalnya folder sampah, spam, sosial, atau folder lainnya.</p>

                <a href="{{ path('security_login') }}">&laquo; Kembali ke halaman login</a>
            </div>
        </div>
    </div>
{% endblock %}
