{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="card-title"><h1>Detail user</h1></div>

            <dl class="row">
                <dt class="col-sm-3">Nama lengkap</dt>
                <dd class="col-sm-9">{{ user.namaLengkap }}</dd>
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">{{ user.username }}</dd>
                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">{{ user.email }}</dd>
                <dt class="col-sm-3">Nomor hp</dt>
                <dd class="col-sm-9">{{ user.nomorHp }}</dd>
                <dt class="col-sm-3">Peran</dt>
                <dd class="col-sm-9">
                    {% for role in user.roles %}
                        {{ role|replace({'ROLE_':''}) }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </div>

    <ul class="list-inline mt-3">
        <li class="list-inline-item">
            <a href="{{ path('user_index') }}" class="btn btn-secondary">&laquo; Kembali ke daftar</a>

        </li>
        <li class="list-inline-item">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Ubah</a>

        </li>
        <li class="list-inline-item">
            {{ include('user/_delete_form.html.twig') }}
        </li>
    </ul>
{% endblock %}
